Repository marclove/typeforge: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format-write, biome-fix, shfmt-fix, biome-format-check, biome-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    toolchain:
      run: node scripts/ensure-toolchain.mjs
    # 1) Autofix: Biome format + lint fixes on staged files, then stage changes
    biome-format-write:
      glob: "*.{ts,tsx,js,jsx,json,cjs,mjs,cts,mts}"
      run: pnpm exec biome format --write {staged_files} && git add {staged_files}
    biome-fix:
      glob: "*.{ts,tsx,js,jsx,json,cjs,mjs,cts,mts}"
      run: pnpm exec biome check --write {staged_files} && git add {staged_files}
    shfmt-fix:
      glob: "*.sh"
      run: |
        if command -v shfmt >/dev/null 2>&1; then shfmt -w -s {staged_files}; git add {staged_files}; else echo "[pre-commit] shfmt not found"; fi
    biome-format-check:
      glob: "*.{ts,tsx,js,jsx,json,cjs,mjs,cts,mts}"
      run: pnpm exec biome format {staged_files}
    biome-lint:
      glob: "*.{ts,tsx,js,jsx,cts,mts}"
      run: pnpm exec biome lint {staged_files}

pre-push:
  commands:
    toolchain:
      run: node scripts/ensure-toolchain.mjs
    typecheck:
      run: pnpm check
    tests:
      run: pnpm test

prepare-commit-msg:
  commands:
    generate-message-with-llmc:
      run: node scripts/generate-commit-msg.mjs {1} {2} {3}

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

ci: standardize pnpm setup across GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/dx-maintenance.yml
  .github/workflows/release.yml
Due: none

fix(ci): handle repositories with fewer than 20 commits in commitlint check
  .github/workflows/ci.yml
Due: none

ci: replace Just commands with pnpm scripts in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/dx-maintenance.yml
  commitlint.config.cjs
Due: biome-format-write, biome-fix, biome-format-check

Notes added by 'git notes add'
  2ee279e0f372c7fcbf5437b3279da51a3dea207c
Due: none

build: improve test configuration and coverage settings
  commitlint.config.cjs
  vite.config.mts
Due: biome-format-write, biome-fix, biome-format-check, biome-lint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

feat: add interactive project setup command and improve template bootstrapping
  README.md
  justfile
  scripts/bootstrap.mjs
  scripts/check-docs.mjs
Due: biome-format-write, biome-fix, biome-format-check

Notes added by 'git notes add'
  e1438f7b2179be2be95e2161f8c4915ca5484a18
Due: none
